sudo: false
language: node_js
dist: xenial
node_js:
  - "12.11.1"
branches:
  except:
  - master
cache:
  directories:
    - node_modules
    - ~/.npm
    - .jest
before_script:
  - npm install
script:
  - npm ci
  - npm jest-expo/ios --noStackTrace
